<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.G10Proyecto01"
        tools:targetApi="31">
        <activity
            android:name=".EscuelaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".MateriaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".OfertaAcademicaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CicloHorarioMenuActivity"
            android:exported="false" />
        <activity
            android:name=".EscuelaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionCrudEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionCrudActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionCrudConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionCrudInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionCrudMenuActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioMenuActivity"
            android:exported="false" />
        <activity
            android:name=".PropuestaEspecificaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".PropuestaEspecificaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".PropuestaEspecificaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".PropuestaEspecificaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".PropuestaEspecificaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".PropuestaGeneralActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".PropuestaGeneralEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".PropuestaGeneralConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".PropuestaGeneralInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".PropuestaGeneralMenuActivity"
            android:exported="false" />
        <activity
            android:name=".EmpleadoUESEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".EmpleadoUESActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".EmpleadoUESConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".EmpleadoUESInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".DocenteActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".DocenteEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".DocenteConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".DocenteInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".TipoEmpleadoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".TipoEmpleadoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".TipoEmpleadoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".TipoEmpleadoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".EL19004Activity"
            android:exported="false" />
        <activity
            android:name=".HS19011Activity"
            android:exported="false" />
        <activity
            android:name=".FM19038Activity"
            android:exported="false" />
        <activity
            android:name=".TipoEmpleadoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".EmpleadoUESMenuActivity"
            android:exported="false" />
        <activity
            android:name=".DocenteMenuActivity"
            android:exported="false" />
        <activity
            android:name=".GG20031Activity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".Local"
            android:exported="false" />
        <activity
            android:name=".LocalAdministrado"
            android:exported="false" />
        <activity
            android:name=".LocalActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".LocalAdministradoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".LocalEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".LocalAdministradoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".LocalConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".LocalAdministradoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".TipoEvento"
            android:exported="false" />
        <activity
            android:name=".TipoEventoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".TipoEventoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".EventoEspecial"
            android:exported="false" />
        <activity
            android:name=".EventoEspecialActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".EventoEspecialEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".EventoEspecialConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".TipoEventoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".LocalAdministradoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".EventoEspecialInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".LocalInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".TipoEventoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".TipoEventoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".EventoEspecialMenuActivity"
            android:exported="false" />
        <activity
            android:name=".LocalAdministradoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".LocalMenuActivity"
            android:exported="false" />
        <activity
            android:name=".AC17033Activity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>